<footer class="footer">
  <div class="footer-inner">
    <div class="footer-about">
      <h4>嘉義高中管樂隊暨校友管樂團</h4>
      <p>嘉義高中校友管樂團（2008 年立案演藝團體）<br>國立嘉義高級中學管樂社（創立於 1931 年）</p>
    </div>
    <div class="footer-links">
      <h4>網站導覽</h4>
      <ul>
        <li><a href="{{assetPrefix}}about.html">關於樂團</a></li>
        <li><a href="{{assetPrefix}}history.html">九十五年</a></li>
        <li><a href="{{assetPrefix}}numbers.html">編號文化</a></li>
        <li><a href="{{assetPrefix}}people.html">人物誌</a></li>
        <li><a href="{{assetPrefix}}roster.html">校友名錄</a></li>
        <li><a href="{{assetPrefix}}concerts.html">校友聯演</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <h4>追蹤與支持</h4>
      <ul>
        <li><a href="{{assetPrefix}}news/index.html">最新消息</a></li>
        <li><a href="{{assetPrefix}}support.html">支持我們</a></li>
        <li><a href="{{assetPrefix}}photos/">影像館</a></li>
        <li><a href="https://www.facebook.com/cyshband/" target="_blank" rel="noopener">嘉義高中管樂社 CYSH Band 粉絲專頁</a></li>
      </ul>
    </div>
  </div>
  <p class="copy">© 2026 嘉義高中校友管樂團</p>
</footer>
